/* *{
    margin: 0;
    padding: 0
} 
Обнуление стилей*/

/*Селектор элемента*/
/* Обращение к тегу по имени элемента*/
/*
ul{ 
    color: red;
}

p{
    color: green
}
*/

/*Селектор класса.

Обращение по классу*/


.menu{
    color: blue;
    background: coral;
}

.active{
    text-decoration: underline
}

.menu__item{
    font-weight: bold
}

/*Обращение по ID, может быть только один на странице
#box{
    color: red
}*/

/*Селектор атрибута*/
/*
.input-text{
    color: red
}
*/
/*или применить Селектор атрибута*/
[type="text"]{
    color: green;
    font-size: 20px;
}

/*Одно и то же обращение, но по разному*/
a{
    color: red;
    text-decoration: none;
}

.main-link{
    font-size: 60px;
}

[href="https://google.com"]{
    font-family: Arial;
}
   
p{
    color: red;
}

/*Селектор потомка*/
div p{
    color: green;
}

/*Или*/

#box p{
    font-size: 30px;
}

.menu a{
    color: black;
}

/*Селектор для вложенного элемента*/
.menu .menu__item>a{
    color: red;
    text-decoration: none;
}

/*Сестринский селектор, применяется для тега ul идущего после а*/
.menu .menu__item>a + ul{
    background: violet;
}

div+p{ /*Находит все теги "р", которые идут сразу после тега "div"*/  
    background-color: black;
    color: white;
}