@import "Imported.css";


li {
    color: black;
}


/* .border-box {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    margin-left: 20px;
    padding: 20px;
    border: 10px solid #212121;
    background-color: #752511;
  } */

  /* .box {
    width: 200px;
    height: 100px;
  }
  
  .top-box {
    margin-bottom: 30px;
    background-color: #2B4162;
  }
  
  .bottom-box {
    margin-top: 50px;
    background-color: #FA9F42;
  } */